.jumbotron {
  background-color: #1ea84f;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
  text-shadow: 2px 2px #000;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #1ea84f;
  margin-top: 20px;
  margin-bottom: 0px;
}
.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.handle-counter {
  overflow: hidden;
}
.handle-counter .counter-minus,
.handle-counter .counter-plus,
.handle-counter input {
  float: left;
  text-align: center;
}
.handle-counter .counter-minus,
.handle-counter .counter-plus {
  text-align: center;
}
.handle-counter input {
  width: 100px;
  border-width: 5px;
  border-left: none;
  border-right: none;
}
a {
  color: black;
}
